*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: bisque;
    color: burlywood;
    font-size: 20px;
}

img{
    margin-top: 40px;
    height: 300px;
    width: 400px;
}

.detail{
    display: flex;
    gap: 100px;
    color: rgb(255, 162, 39);
    font-size: 30px;
}

.follower{
    color: rgb(248, 156, 35);
    display: flex;
    gap: 30px;
    font-size: 30px;
    font-weight: bold;
}

body h2{
    color: rgb(241, 153, 37);
    font-size: 80px;
}

.extra{
    color: rgb(241, 145, 19);
    display: flex;
    gap: 40px;

}

.extra > button{
    all: unset;
    border: 2px solid black;
    color: rgb(135, 241, 74);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(60, 173, 248);
}

.setRed{
    background-color: red;
}