<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll Dice</title>
</head>
<body>
    <h1>Dice Gave value <%= num %></h1>
    

    <% if (num >= 4) { %>
        <h2>Your score is good!</h2>
    <% }  else { %>
        <h2>Your score is low!</h2>
    <% } %>

     
</body>
</html>